In [1]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv("E:\\movie imdb\\nifty_500.csv")

In [8]:
df.head(1)

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,3M India Ltd.,3MINDIA,Diversified,EQ,21950.0,21999.0,21126.05,21854.05,21575.0,-279.05,-1.28,4159,89653566.68,27800.0,17273.0,-10.18,8.22